.book{
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 20px;
}
.book-title{
    font-weight: bold;
    font-size: 1.0em;
    margin-bottom: 10px;
}
.book-description{
    font-size: 0.9em;
    font-style: italic;
}
/*Forms styles  */
.forms-holder{
    width:40%;
    margin:0 auto;
}
.forms-holder .form-control{
    width: 60%;
    margin: 0 auto;
    border-radius: 0px;
    font-size: 0.9em;
}
.forms-holder form .btn-success{
    display: block!important;
    width:60%;
    margin: 0 auto;
}
#toggle-forms{
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
}
#toggle-forms span:hover{
    cursor: pointer;
}
#validation-messages .alert{
    margin-top: 20px!important;
    font-size: 0.9em;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
#signUp-form{
    display: none;
}
#sign-in-form-show{
    display: none;
}
.book-form-container{
    width:50%;
}
.book-form-container .form-control{
    border-radius: 0px;
    font-size: 0.9em;
}
.background-book-form{
    background-color: #e6e6e6;
}
.book-form-container .alert{
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}
.remove-book button.btn{
    font-size: 0.7em;
}
.image-icon{
    display: inline-block;
    margin-left: 10px;
}
.book-image img{
    margin-top: 20px;
    width: 100px;
}