<!DOCTYPE html>
<html>
<head>
 <title>Welcome to nodeJs</title>
    <!--inject:css-->
    <link rel="stylesheet" href="/css/app.css">
    <!--endinject-->
    
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!--inject:js-->
    <script src="/js/main.js"></script>
    <!--endinject-->
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Node App</a>
    </div>
    <ul class="nav navbar-nav">
      <% for(i=0;i<nav.length;i++){ %>
      <li><a href="<%= nav[i].Link %>"><%= nav[i].Text %></a></li>
      <% } %>


    </ul>
  </div>
</nav>

<!-- Sign In and Sign Up Form  -->
<div class="forms-holder">

  <!-- SignUp form  -->
<form action="/auth/signUp" method="post" id="signUp-form">
  <div class="form-group">
    <input type="text"  name="username" placeholder="Choose Username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password" class="form-control" id="password">
  </div>

  <button type="submit" class="btn btn-success">Create your account</button>
</form>


<!-- SignIn Form  -->
<form action="/auth/signIn" method="post" id="signIn-form">
  <div class="form-group">
    <input type="text"  name="username" placeholder="Username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password" class="form-control" id="password">
  </div>

  <button type="submit" class="btn btn-success">Sign in</button>
</form>

<div id="toggle-forms">
<span onclick="toggleFormVisibility(event)" id="sign-in-form-show">Sign in to your account</span>
<span onclick="toggleFormVisibility(event)" id="sign-up-form-show">Create new account</span>
</div>





</div>


</body>




<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

</html>