<!DOCTYPE html>
<html>
<head>
 <title>Welcome to nodeJs</title>
 <link href="css/app.css" type="text/css" rel="stylesheet"/>
  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
 <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<h5>Welcome to NodeJs web application</h5>

</body>

<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

</html>