<!DOCTYPE html>
<html>
<head>
 <title>Welcome to nodeJs</title>
    <!--inject:css-->
    <link rel="stylesheet" href="/css/app.css">
    <!--endinject-->
    
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!--inject:js-->
    <script src="/js/main.js"></script>
    <!--endinject-->
</head>
<body>
<h5>Welcome to NodeJs web application</h5>

</body>

<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

</html>